body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  background-color: cornsilk;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  color: #1671ac;
}

h2 {
  text-align: center;
  color: #d78a29;
}

.hashtag {
  color: #799a33;
}

.user_mention {
  color: #7470c8;
}

.axis {
  font-size: 12px;
}

.axis path, .axis line {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}

.tooltip {
  font-size: 8px;
  padding: 5px;
  color: white;
  background: #1f1f1f;
  border-radius:5px;
}

.guide
{
  vertical-align: middle;
}
